@model IEnumerable<EngitelExam.Web.Models.ViewModels.FamigliaListItemVM>
    <!--qua ho usato stesso IEnumerable come in service GetAllFamiglie. cmnq anche w List<> qui sarebbe funzionato, ma ok cosi.--> 

<h2>Famiglie Confermate</h2>

<table border="1">
    <tr>
        <th>Nome Famiglia</th>
        <th>Componenti</th>
        <th>Componenti con Veicolo</th>
    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>@f.NomeFamiglia</td>
            <td>@f.NumeroComponenti</td>
            <td>@f.NumeroComponentiWCar</td>
        </tr>
    }
</table>
